/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(151, 191, 212);
  text-align: center;
}

.App {
  margin-top: 200px;
}


.App h1 {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #282c34;
  font-family:'Times New Roman', Times, serif;
}

h1:hover{
  transform: scale(110%);
}

button {
  background-color: rgb(96, 168, 96);
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  font-weight: 700;
  font-size: 25px;
  margin: 20px;
  border: .4px solid black;
}

button:hover {
  background-color: rgb(194, 193, 201);
  transform: scale(110%);
} */
